/* ADEQUAÇÃO VISUAL DO MOODLE UNICDHU - SCSS
VERSÃO 1.1 - Boost Union
DATA: 25/04/2025 */
.bg-primary {
  background-color: black !important;
}

.navbar.navbar-dark.bg-primary .nav-link.active {
  border-bottom-color: red;
}


.navbar.navbar-dark.bg-dark .custom-switch .custom-control-input:checked ~ .custom-control-label::after, .navbar.navbar-dark.bg-primary .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: red;
}


.course-content-item a {
  color: #e41a1f !important;
}

.flexsections .course-section {
  border-radius: 1rem;
  border: 1px dotted gray;
  padding: 5px 15px 5px 15px;
}
.course-card .card-img-top, .theme-card .card-img-top {
background-position: right top;
height: 11rem;
}

.course-section .availabilityinfo {
  border-radius: 5px;
}